<%- include('../partials/header/header_css.ejs'); %>

<body>
    <%- include('../partials/spinner/spinner.ejs'); %>
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <%- include('../partials/nav/nav_admin.ejs') %>

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <%- include('../partials/nav/sidebar_admin.ejs') %>
                    <div class="pcoded-content">
                        <!-- Page-header start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-12 text-center">
                                        <div class="page-header-title">
                                            <h3 class="m-b-10"><%= title %></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Page-header end -->
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="page-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <div class="row">
                                                            <div class="col-12 col-lg-9 col-xl-9 col-md-9 col-sm-9 align-items-center d-flex">
                                                                <h5>Note: <code>Sections cannot be duplicated.</code> </h5>
                                                            </div>
                                                            <div class="col-12 col-lg-3 col-xl-3 col-md-3 col-sm-3 d-flex justify-content-end align-items-center mt-2">
                                                                <a href="/admin/section/add?category=<%= category %>&year=<%= year %>&semester=<%= semester %>" class="btn btn-sm btn-success"><i class="ti-plus"></i> Add Section</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% if(filteredSections.length > 0) { %>
                                                <% filteredSections.forEach(section => { %>
                                                    <div class="col-12">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <div class="row">
                                                                    <div class="col-12 col-lg-8 col-xl-8 col-md-8 col-sm-8">
                                                                        <h5 class=""><%= section.courseId.name %> - <%= section.year %> - <%= section.semester %> - <%= section.section %></h5>
                                                                    </div>
                                                                    <div class="col-12 col-lg-4 col-xl-4 col-md-4 col-sm-4 d-flex justify-content-end align-items-center mt-2">
                                                                        <div class="btn-group">
                                                                            <a href="/admin/subject/add?category=<%= section.courseId.category %>&year=<%= section.year %>&semester=<%= section.semester %>&section=<%= section.section %>" class="btn btn-sm btn-success"><i class="ti-plus"></i> Add Subject</a>
                                                                            <a href="" class="btn btn-sm btn-primary text-white"><i class="ti-pencil-alt"></i> Edit Section</a>
                                                                            <button type="submit" class="btn btn-sm btn-danger"><i class="ti-trash"></i> Delete Section</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="card-block table-border-style">
                                                                <div class="table-responsive">
                                                                    <table class="table table-bordered">
                                                                        <thead>
                                                                            <tr class="text-center" style="white-space: nowrap;">
                                                                                <th>Subject Code</th>
                                                                                <th>Descriptive Title</th>
                                                                                <th>Units</th>
                                                                                <th>Professor</th>
                                                                                <th>Schedule</th>
                                                                                <th>Start Time</th>
                                                                                <th>End Time</th>
                                                                                <th>Actions</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <% section.subjects.forEach(subject => { %>
                                                                                <form action="" method="post">
                                                                                    <tr style="white-space: nowrap;">
                                                                                        <input type="hidden" name="section" value="<%= section.section %>">
                                                                                        <input type="hidden" name="link" value="category=<%= category %>&year=<%= year %>&semester=<%= semester %>">
                                                                                        <input type="hidden" name="subjectId" id="subjectId" value="<%= subject.subjectId._id %>">
                                                                                        <td class="align-middle text-capitalize text-center"><%= subject.subjectId.subjectCode %></td>
                                                                                        <td class="align-middle text-capitalize text-center"><%= subject.subjectId.name %></td>
                                                                                        <td class="align-middle text-capitalize text-center"><%= subject.subjectId.unit %></td>
                                                                                        <td class="align-middle">
                                                                                            <div class="form-group">
                                                                                                <select name="professorId" id="professorId" class="form-control border" style="text-transform: capitalize;width: 200px;" required>
                                                                                                    <option value="" selected hidden>Select Option</option>
                                                                                                    <% professors.forEach(professor => { %>
                                                                                                        <!-- Check if subject.professorId exists and is equal to professor._id -->
                                                                                                        <% if (professor.isVerified === true) { %>
                                                                                                            <% if (subject.professorId && subject.professorId.equals(professor._id)) { %>
                                                                                                                <option value="<%= professor._id %>" selected>
                                                                                                            <% } else { %>
                                                                                                                <option value="<%= professor._id %>">
                                                                                                            <% } %>
                                                                                                            <%= professor.lastname %>, <%= professor.firstname %> <%= professor.middlename %>
                                                                                                            </option>
                                                                                                        <% } %>
                                                                                                    <% }); %>
                                                                                                </select>
                                                                                            </div>
                                                                                        </td>
                                                                                        <td class="align-middle">
                                                                                            <div class="form-group">
                                                                                                <div id="days">
                                                                                                    <input type="checkbox" id="monday" name="days" value="M" <%= subject.days.includes('M') ? 'checked' : '' %>>
                                                                                                    <label for="monday">Monday</label><br>
                                                                                                    <input type="checkbox" id="tuesday" name="days" value="T" <%= subject.days.includes('T') ? 'checked' : '' %>>
                                                                                                    <label for="tuesday">Tuesday</label><br>
                                                                                                    <input type="checkbox" id="wednesday" name="days" value="W" <%= subject.days.includes('W') ? 'checked' : '' %>>
                                                                                                    <label for="wednesday">Wednesday</label><br>
                                                                                                    <input type="checkbox" id="thursday" name="days" value="TH" <%= subject.days.includes('TH') ? 'checked' : '' %>>
                                                                                                    <label for="thursday">Thursday</label><br>
                                                                                                    <input type="checkbox" id="friday" name="days" value="F" <%= subject.days.includes('F') ? 'checked' : '' %>>
                                                                                                    <label for="friday">Friday</label><br>
                                                                                                </div>
                                                                                            </div>
                                                                                        </td>
                                                                                        <td class="align-middle">
                                                                                            <div class="form-group">
                                                                                                <input type="time" name="startTime" id="startTime" class="form-control" style="width: 130px;" value="<%= subject.startTime %>">
                                                                                            </div>
                                                                                        </td>
                                                                                        <td class="align-middle">
                                                                                            <div class="form-group">
                                                                                                <input type="time" name="endTime" id="endTime" class="form-control" style="width: 130px;" value="<%= subject.endTime %>">
                                                                                            </div>
                                                                                        </td>
                                                                                        <td class="text-center align-middle">
                                                                                            <div class="btn-group d-flex justify-content-center">
                                                                                                <button type="submit" name="actions" value="update" class="btn btn-sm btn-success"><i class="ti-check-box"></i> Update Schedule</button>
                                                                                                <a href="/admin/subject/edit/<%= subject.subjectId._id %>?category=<%= section.category %>&year=<%= section.year %>&semester=<%= section.semester %>" class="btn btn-sm btn-primary text-white"><i class="ti-pencil-alt"></i> Edit</a>
                                                                                                <button type="submit" name="actions" value="delete" class="btn btn-sm btn-danger"><i class="ti-trash"></i> Delete</button>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>
                                                                                </form>
                                                                            <% }) %>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div class="card-footer">
                                                                <form action="/admin/category/endSemester" method="post">
                                                                    <input type="hidden" name="sectionId" id="sectionId" value="<%= section._id %>">
                                                                    <div class="d-flex justify-content-end align-items-center">
                                                                        <button type="submit" class="btn btn-warning">End Semester</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% }); %>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="styleSelector"></div>
                </div>
            </div>
        </div>
    </div>
</body>
<%- include('../partials/footer/footer_js.ejs'); %>