<%- include('../partials/header/header_css.ejs'); %>

<body>
    <%- include('../partials/spinner/spinner.ejs'); %>
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <%- include('../partials/nav/nav_admin.ejs') %>

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <%- include('../partials/nav/sidebar_admin.ejs') %>
                    <div class="pcoded-content">
                        <!-- Page-header start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-12 text-center">
                                        <div class="page-header-title">
                                            <h3 class="m-b-10"><%= title %></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Page-header end -->
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="page-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>Enrollments Pending</h5>
                                                        <div class="card-header-right">
                                                            <ul class="list-unstyled card-option">
                                                                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                                                <li><i class="fa fa-window-maximize full-card"></i></li>
                                                                <li><i class="fa fa-minus minimize-card"></i></li>
                                                                <li><i class="fa fa-refresh reload-card"></i></li>
                                                                <li><i class="fa fa-trash close-card"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="card-block table-border-style">
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered">
                                                                <thead>
                                                                    <tr class="text-center">
                                                                        <th>Fullname</th>
                                                                        <th>Course</th>
                                                                        <th>Year</th>
                                                                        <th>Semester</th>
                                                                        <th>Section</th>
                                                                        <th>Batch</th>
                                                                        <th>Actions</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <% studentProfiles.forEach(profile => { %>
                                                                        <% if(profile.courseId && !profile.isEnrolled){ %>
                                                                    <form action="/admin/enrollment/doEnroll" method="post">
                                                                        <tr style="white-space: nowrap;">
                                                                            <td class="align-middle text-capitalize"><%= profile.lastname %>, <%= profile.firstname %> <%= profile.middlename %></td>
                                                                            <td class="align-middle"><%= profile.courseId.name %></td>
                                                                            <td class="align-middle">
                                                                                <select name="year" class="form-control" id="year" style="width: 200px;" >
                                                                                    <option value="" selected hidden>Select Year</option>
                                                                                    <option value="1st Year">1st Year</option>
                                                                                    <option value="2nd Year">2nd Year</option>
                                                                                    <option value="3rd Year">3rd Year</option>
                                                                                </select>
                                                                            </td>
                                                                            <td class="align-middle">
                                                                                <select name="semester" class="form-control" id="semester" style="width: 200px;" >
                                                                                    <option value="" selected hidden>Select Semester</option>
                                                                                    <option value="1st Semester">1st Semester</option>
                                                                                    <option value="2nd Semester">2nd Semester</option>
                                                                                </select>
                                                                            </td>
                                                                            <td class="align-middle">
                                                                                <select name="section" class="form-control" id="section" style="width: 200px;" >
                                                                                    <option value="" selected hidden>Select Section</option>
                                                                                    <option value="Section 1">Section 1</option>
                                                                                    <option value="Section 2">Section 2</option>
                                                                                </select>
                                                                            </td>
                                                                            <td class="align-middle">
                                                                                <input type="text" class="form-control" pattern="\d{4}-\d{4}" name="batch" id="batch" style="width: 200px;" >
                                                                            </td>
                                                                            <input type="hidden" name="courseId" id="courseId" value="<%= profile.courseId._id %>">
                                                                            <input type="hidden" name="studentId" id="studentId" value="<%= profile._id %>">
                                                                            <td class="text-center align-middle">
                                                                                <div class="btn-group d-flex">
                                                                                    <button type="submit" name="actions" value="approved" class="btn btn-sm btn-success"><i class="ti-check-box"></i> Approved</button>
                                                                                    <button type="submit" name="actions" value="print" class="btn btn-sm btn-secondary"><i class="ti-download"></i> Print</button>
                                                                                    <button type="submit" name="actions" value="declined" class="btn btn-sm btn-danger"><i class="ti-close"></i> Declined</button>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </form>
                                                                        <% } %>
                                                                    <% }) %>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="styleSelector"></div>
                </div>
            </div>
        </div>
    </div>
</body>
<%- include('../partials/footer/footer_js.ejs'); %>