<%- include('../partials/header/header_css.ejs'); %>

<body>
    <%- include('../partials/spinner/spinner.ejs'); %>
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <%- include('../partials/nav/nav_admin.ejs') %>
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <%- include('../partials/nav/sidebar_admin.ejs') %>
                    <div class="pcoded-content">
                        <!-- Page-header start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-12 text-center">
                                        <div class="page-header-title">
                                            <h3 class="m-b-10"><%= title %></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Page-header end -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Remark All Schedules</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <form action="/admin/professors/schedule/doHistory" method="post">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="batch" class="col-form-label">Schedule Batch:</label>
                                            <input type="text" class="form-control" name="batch" id="batch" placeholder="YYYY-YYYY" pattern="\d{4}-\d{4}" required>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-sm btn-warning">Submit</button>
                                    </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="page-body">
                                        <div class="row">
                                            
                                            <div class="col-12">
                                                <% if(histories.length > 0) { %>
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h5>Professor's Schedules</h5>
                                                            <span>
                                                                <div class="row">
                                                                    <div class="col-12 col-lg-6 col-xl-6 form-float">
                                                                        <label for="searchProfessorSchedule">Search by Fullname:</label>
                                                                        <input type="text" class="form-control" name="searchProfessorSchedule" id="searchProfessorSchedule" placeholder="Search Fullname">
                                                                    </div>
                                                                </div>
                                                            </span>
                                                        </div>
                                                        <div class="card-block table-border-style">
                                                            <div class="table-responsive">
                                                                <table id="tableProfessorSchedule" class="table table-bordered">
                                                                    <thead>
                                                                        <tr>
                                                                            <th class="text-center">Fullname</th>
                                                                            <th class="text-center">Actions</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody> 
                                                                        <% 
                                                                        // Create a Set to store unique full names
                                                                        const uniqueNames = new Set();%>
                                                                        
                                                                        <% histories.forEach(history => {%>
                                                                        <% const fullName = `${history.professorName.lastname}, ${history.professorName.firstname} ${history.professorName.middlename}`; %>
                                                                            
                                                                        <% if (!uniqueNames.has(fullName)) { %>
                                                                        <% uniqueNames.add(fullName); %>
                                                                        <tr style="white-space: nowrap;">
                                                                            <td class="align-middle text-capitalize text-center"><%= fullName %></td>
                                                                            <td class="align-middle text-capitalize text-center">
                                                                                <div class="d-flex justify-content-center align-items-center btn-group">
                                                                                    <a href="/admin/professors/schedule/history/<%= history.professorId._id %>" class="btn btn-sm btn-info"><i class="ti-eye"></i>View Old Schedules</a>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <% }}); %>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                <% } else { %>
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h5>No Schedule Found.</h5>
                                                        </div>
                                                    </div>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="styleSelector"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const searchInput = document.getElementById('searchProfessorSchedule');
            const coursesRows = document.querySelectorAll('#tableProfessorSchedule tbody tr');
        
            searchInput.addEventListener('input', function() {
                const searchQuery = this.value.trim().toLowerCase();
        
                coursesRows.forEach(row => {
                    const fullName = row.querySelector('td:first-child').textContent.trim().toLowerCase();
        
                    if (fullName.includes(searchQuery)) {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                });
            });
        });
    </script>
</body>
<%- include('../partials/footer/footer_js.ejs'); %>