<%- include('../partials/header/header_css.ejs'); %>

<body>
    <%- include('../partials/spinner/spinner.ejs'); %>
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <%- include('../partials/nav/nav_admin.ejs') %>
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <%- include('../partials/nav/sidebar_admin.ejs') %>
                    <div class="pcoded-content">
                        <!-- Page-header start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-12 text-center">
                                        <div class="page-header-title">
                                            <h3 class="m-b-10"><%= title %></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Page-header end -->
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="page-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>Students Propestus</h5>
                                                        <span>
                                                            <div class="row">
                                                                <div class="col-12 col-lg-6 col-xl-6 ">
                                                                    <label for="searchProspectus">Search by name:</label>
                                                                    <input type="text" class="form-control" name="searchProspectus" id="searchProspectus" placeholder="Student Name">
                                                                </div>
                                                            </div>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <% if(studentProspectus.length > 0) { %>
                                                    <% studentProspectus.forEach(student => { %>
                                                        <div id="cardProspectus" class="card">
                                                            <div class="card-header">
                                                                <h5><%= student.studentName.firstname %>, <%= student.studentName.middlename %> <%= student.studentName.lastname %></h5>
                                                                <span><%= student.year %> - <%= student.semester %> - <%= student.section %> - <%= student.courseName %></span>
                                                                <span>Batch: <%= student.batch %></span>
                                                            </div>
                                                            <div class="card-block table-border-style">
                                                                <div class="table-responsive">
                                                                    <table class="table table-bordered">
                                                                        <thead>
                                                                            <tr>
                                                                                <th class="text-center">Subject Code</th>
                                                                                <th>Descriptive Title</th>
                                                                                <th class="text-center">Units</th>
                                                                                <th class="text-center">Professor</th>
                                                                                <th class="text-center">Time</th>
                                                                                <th class="text-center">Grades</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <% student.subjects.forEach(subject => { %>
                                                                                <tr style="white-space: nowrap;">
                                                                                    <td class="align-middle text-capitalize text-center"><%= subject.subject.subjectCode %></td>
                                                                                    <td class="align-middle text-capitalize"><%= subject.subject.name %></td>
                                                                                    <td class="align-middle text-capitalize text-center"><%= subject.subject.unit %></td>
                                                                                    <td class="align-middle text-capitalize text-center"><%= subject.professorName.lastname %>, <%= subject.professorName.firstname %> <%= subject.professorName.middlename %></td>
                                                                                    <td class="align-middle text-capitalize text-center"><%= subject.startTime %> - <%= subject.endTime %></td>
                                                                                    <td class="align-middle text-capitalize text-center"><%= subject.grade %></td>
                                                                                </tr>
                                                                            <% }) %>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <% }) %>
                                                <% } else { %>
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h5>No Prospectus Found.</h5>
                                                        </div>
                                                    </div>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="styleSelector"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const searchInput = document.getElementById('searchProspectus');
            const cards = document.querySelectorAll('#cardProspectus');

            searchInput.addEventListener('input', function() {
                const searchQuery = this.value.trim().toLowerCase();

                cards.forEach(card => {
                    const header = card.querySelector('.card-header h5');
                    const studentName = header.textContent.trim().toLowerCase();

                    if (studentName.includes(searchQuery)) {
                        card.style.display = '';
                    } else {
                        card.style.display = 'none';
                    }
                });
            });
        });
    </script>
</body>
<%- include('../partials/footer/footer_js.ejs'); %>