<%- include('../partials/header/header_css.ejs'); %>

<body>
    <%- include('../partials/spinner/spinner.ejs'); %>
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <%- include('../partials/nav/nav_admin.ejs') %>

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <%- include('../partials/nav/sidebar_admin.ejs') %>
                    <div class="pcoded-content">
                        <!-- Page-header start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-12 text-center">
                                        <div class="page-header-title">
                                            <h3 class="m-b-10"><%= title %></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Page-header end -->
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="page-body">
                                        <div class="row">
                                            <div class="col-sm-12 ">
                                                <div class="card">
                                                    <div class="card-header text-center">
                                                        <h3 class="mt-3 mb-3">Add Subject</h3>
                                                    </div>
                                                    <form action="/admin/subject/add" method="post">
                                                        <div class="card-block">
                                                            <div class="row mt-4 justify-content-center d-flex align-items-center">
                                                                <div class="col-sm-6">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="subjectCode">Subject Code</label>
                                                                        <input type="text" class="form-control" name="subjectCode" id="subjectCode" required/>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="name">Subject Title</label>
                                                                        <input type="text" class="form-control" name="name" id="name" required/>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="name">Unit</label>
                                                                        <input type="text" class="form-control" name="unit" id="unit" required/>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="courseId">Course Name</label>
                                                                        <select name="courseId" id="courseId" class="form-control border" required>
                                                                            <option value="" selected hidden>Select Option</option>
                                                                            <% courses.forEach(course => { %>
                                                                                <option value="<%= course._id %>"><%= course.category %></option>
                                                                            <% }); %>
                                                                        </select>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="year">Year</label>
                                                                        <select name="year" id="year" class="form-control border" required>
                                                                            <option value="" selected hidden>Select Option</option>
                                                                            <option value="1st Year">1st Year</option>
                                                                            <option value="2nd Year">2nd Year</option>
                                                                            <option value="3rd Year">3rd Year</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="semester">Semester</label>
                                                                        <select name="semester" id="semester" class="form-control border" required>
                                                                            <option value="" selected hidden>Select Option</option>
                                                                            <option value="1st Semester">1st Semester</option>
                                                                            <option value="2nd Semester">2nd Semester</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="section">Section</label>
                                                                        <select name="section" id="section" class="form-control border" required>
                                                                            <option value="" selected hidden>Select Option</option>
                                                                            <option value="Section 1">Section 1</option>
                                                                            <option value="Section 2">Section 2</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="description">Description</label>
                                                                        <textarea name="description" id="description" cols="30" rows="5" class="form-control"></textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card-footer text-center">
                                                            <button type="submit" name="actions" value="" class="btn btn-primary">Submit</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="styleSelector"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // Disable right-click menu
        window.addEventListener('contextmenu', function (e) {
            e.preventDefault();
        });
    </script>
</body>
<%- include('../partials/footer/footer_js.ejs'); %>