<%- include('../partials/header/header_css.ejs'); %>

<body>
    <%- include('../partials/spinner/spinner.ejs'); %>
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <%- include('../partials/nav/nav_admin.ejs') %>

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <%- include('../partials/nav/sidebar.ejs') %>
                    <div class="pcoded-content">
                        <!-- Page-header start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-8">
                                        <div class="page-header-title">
                                            <h5 class="m-b-10">Sample page</h5>
                                            <p class="m-b-0">Lorem Ipsum is simply dummy text of the printing</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item">
                                                <a href="index.html"> <i class="fa fa-home"></i> </a>
                                            </li>
                                            <li class="breadcrumb-item"><a href="#!">Sample page</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Page-header end -->
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="page-body">
                                        <div class="row">
                                            <div class="col-lg-12 col-xl-12">
                                                <div class="sub-title"></div>
                                                <!-- Nav tabs -->
                                                <% let profileActive = profile.isVerified === false ? 'active' : ''; %>
                                                <% let emailActive = profile.isVerified === true ? 'active' : ''; %>
                                                <% let profileShow = profile.isVerified === false ? 'show' : ''; %>
                                                <% let emailShow = profile.isVerified === true ? 'show' : ''; %>
                                                <% let emailExpanded = profile.isVerified === true ? 'true' : 'false'; %>
                                                <% let profileExpanded = profile.isVerified === false ? 'false' : 'true'; %>
                                                <ul class="nav nav-tabs  tabs" role="tablist">
                                                    <li class="nav-item">
                                                        <a class="nav-link <%= emailActive %> <%= emailShow %>" data-toggle="tab" href="#email" role="tab" aria-selected="<%= emailExpanded %>">Email</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" data-toggle="tab" href="#password" role="tab" aria-selected="false">Password</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link <%= profileActive %> <%= profileShow %>" data-toggle="tab" href="#profile" role="tab" aria-selected="<%= profileExpanded %>">Profile Details</a>
                                                    </li>
                                                </ul>
                                                <!-- Tab panes -->
                                                <div class="tab-content tabs card-block">
                                                    <div class="tab-pane <%= emailActive %> <%= emailShow %>" id="email" role="tabpanel">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <h3 class="mt-3 mb-3">Email</h3>
                                                            </div>
                                                            <form action="" method="post">
                                                                <div class="card-block">
                                                                    <div class="row mt-4">
                                                                        <div class="col-sm-6">
                                                                            <div class="form-group">
                                                                                <label class="form-label">Email</label>
                                                                                <input type="email" class="form-control" name="email" id="email" value="<%= profile.userId.email %>" required/>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="card-footer">
                                                                    <button type="submit" name="actions" value="changeEmail" class="btn btn-primary">Update</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane" id="password" role="tabpanel">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <h3 class="mt-3 mb-3">Change Password</h3>
                                                            </div>
                                                            <form action="" method="post">
                                                                <div class="card-block">
                                                                    <div class="row mt-4">
                                                                        <div class="col-sm-6">
                                                                            <div class="form-group">
                                                                                <label class="form-label" for="newPassword">New Password</label>
                                                                                <input type="password" class="form-control" name="newPassword" id="newPassword" required/>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="form-label" for="confirmPassword">Re-type new Password</label>
                                                                                <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" required/>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="card-footer">
                                                                    <button type="submit" name="actions" value="changePassword" class="btn btn-primary">Update</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane <%= profileActive %> <%= profileShow %>" id="profile" role="tabpanel">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <h3 class="mt-3 mb-3">LEARNERS PROFILE FORM</h3>
                                                                <span>(This Learners Profile Form is required for online Enrollment)</span>
                                                            </div>
                                                            <div class="card-block">
                                                                <% if(profile.userId.role === 'student'){ %>
                                                                    <form method="post" action="">
                                                                        <div class="row mt-4">
                                                                            <h4 class="sub-title col-12">Student Profile</h4>
                                                                            <div class="col-sm-6">
                                                                                <div class="form-group">
                                                                                    <label class="form-label" for="lastname">Lastname</label>
                                                                                    <input type="text" class="form-control" name="lastname" id="lastname" value="<%= profile.lastname %>" required/>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="form-label" for="middlename">Middlename</label>
                                                                                    <input type="text" class="form-control" name="middlename" id="middlename" value="<%= profile.middlename %>" required/>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="form-label" for="firstname">Firstname</label>
                                                                                    <input type="text" class="form-control" name="firstname" id="firstname" value="<%= profile.firstname %>" required/>
                                                                                </div>
                                                                                
                                                                                <div class="form-group">
                                                                                    <label class="form-label" for="emailFbAcc">Email Address/Facebook Account</label>
                                                                                    <input type="text" class="form-control" name="emailFbAcc" id="emailFbAcc" value="<%= profile.emailFbAcc %>" required/>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="form-label" for="contact">Contact No:</label>
                                                                                    <input type="text" class="form-control" name="contact" id="contact" value="<%= profile.contact %>" required/>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="form-label" for="nationality">Natinality</label>
                                                                                    <input type="text" class="form-control" name="nationality" id="nationality" value="<%= profile.nationality %>" required/>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-6 mobile-inputs">
                                                                                <div class="form-group">
                                                                                    <label class="form-label" for="numberStreet">Number, Street</label>
                                                                                    <input type="text" class="form-control" name="numberStreet" id="numberStreet" value="<%= profile.numberStreet %>" required/>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="form-label" for="barangay">Barangay</label>
                                                                                    <input type="text" class="form-control" name="barangay" id="barangay" value="<%= profile.barangay %>" required/>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="form-label" for="district">District</label>
                                                                                    <input type="text" class="form-control" name="district" id="district" value="<%= profile.district %>" required/>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="form-label" for="cityMunicipality">City/Municipality</label>
                                                                                    <input type="text" class="form-control" name="cityMunicipality" id="cityMunicipality" value="<%= profile.cityMunicipality %>" required/>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="form-label" for="province">Province</label>
                                                                                    <input type="text" class="form-control" name="province" id="province" value="<%= profile.province %>" required/>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="form-label" for="region">Region</label>
                                                                                    <input type="text" class="form-control" name="region" id="region" value="<%= profile.region %>" required/>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    
                                                                        <div class="row mt-4">
                                                                            <h4 class="sub-title col-12">Personal Information</h4>
                                                                            <div class="col-sm-6 mobile-inputs">
                                                                                <div class="form-group">
                                                                                    <label class="form-label" for="birthdate">Birthdate</label>
                                                                                    <input type="date" class="form-control" name="birthdate" id="birthdate" value="<%= profile.birthYear %>-<%= profile.birthMonth %>-<%= profile.birthDay %>" required/>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="form-label" for="age">Age</label>
                                                                                    <input type="text" class="form-control" name="age" id="age" value="<%= profile.age %>" required/>
                                                                                </div>
                                                                                <h4 class="sub-title mt-2">Birthplace</h4>
                                                                                <div class="form-group">
                                                                                    <label class="form-label" for="birthPlaceCity">City/Municipality</label>
                                                                                    <input type="text" class="form-control" name="birthPlaceCity" id="birthPlaceCity" value="<%= profile.birthPlaceCity %>" required/>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="form-label" for="birthPlaceProvince">Province</label>
                                                                                    <input type="text" class="form-control" name="birthPlaceProvince" id="birthPlaceProvince" value="<%= profile.birthPlaceProvince %>" required/>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="form-label" for="birthPlaceRegion">Region</label>
                                                                                    <input type="text" class="form-control" name="birthPlaceRegion" id="birthPlaceRegion" value="<%= profile.birthPlaceRegion %>" required/>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-6 mobile-inputs">
                                                                                <div class="form-group">
                                                                                    <label class="form-label" for="sex">Sex</label>
                                                                                    <select name="sex" id="sex" class="form-control border" required>
                                                                                        <option value="" selected hidden>Select Option</option>
                                                                                        <option value="Male" <%= profile.sex === 'Male' ? 'selected' : '' %>>Male</option>
                                                                                        <option value="Female" <%= profile.sex === 'Female' ? 'selected' : '' %>>Female</option>
                                                                                    </select>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="form-label" for="civilStatus">Civil Status</label>
                                                                                    <select name="civilStatus" id="civilStatus" class="form-control border" required>
                                                                                        <option value="" selected hidden>Select Option</option>
                                                                                        <option value="Single" <%= profile.civilStatus === 'Single' ? 'selected' : '' %>>Single</option>
                                                                                        <option value="Married" <%= profile.civilStatus === 'Married' ? 'selected' : '' %>>Married</option>
                                                                                        <option value="Widow/er" <%= profile.civilStatus === 'Widow/er' ? 'selected' : '' %>>Widow/er</option>
                                                                                        <option value="Separated" <%= profile.civilStatus === 'Separated' ? 'selected' : '' %>>Separated</option>
                                                                                    </select>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="form-label" for="employmentStatus">Employment Status(before the training)</label>
                                                                                    <select name="employmentStatus" id="employmentStatus" class="form-control border" required>
                                                                                        <option value="" selected hidden>Select Option</option>
                                                                                        <option value="Employed" <%= profile.employmentStatus === 'Employed' ? 'selected' : '' %>>Employed</option>
                                                                                        <option value="Unemployed" <%= profile.employmentStatus === 'Unemployed' ? 'selected' : '' %>>Unemployed</option>
                                                                                        <option value="Self-employed" <%= profile.employmentStatus === 'Self-employed' ? 'selected' : '' %>>Self-employed</option>
                                                                                    </select>
                                                                                </div>
                                                                                <h4 class="sub-title mt-2">Education Attainment</h4>
                                                                                <div class="form-group">
                                                                                    <label class="form-label" for="educationAttainment">Education Attainment(Before the Training)</label>
                                                                                    <select name="educationAttainment" id="educationAttainment" class="form-control border" required>
                                                                                        <option value="" selected hidden>Select Option</option>
                                                                                        <option value="No Grade Completed/ PreSchool (Nursery/Kinder/Prep)" <%= profile.educationAttainment === 'No Grade Completed/ PreSchool (Nursery/Kinder/Prep)' ? 'selected' : '' %>>No Grade Completed/ PreSchool (Nursery/Kinder/Prep)</option>
                                                                                        <option value="Elementary Level" <%= profile.educationAttainment === 'Elementary Level' ? 'selected' : '' %>>Elementary Level</option>
                                                                                        <option value="Elementary Graduate" <%= profile.educationAttainment === 'Elementary Graduate' ? 'selected' : '' %>>Elementary Graduate</option>
                                                                                        <option value="High School Level" <%= profile.educationAttainment === 'High School Level' ? 'selected' : '' %>>High School Level</option>
                                                                                        <option value="High School Graduate" <%= profile.educationAttainment === 'High School Graduate' ? 'selected' : '' %>>High School Graduate</option>
                                                                                        <option value="College Level" <%= profile.educationAttainment === 'College Level' ? 'selected' : '' %>>College Level</option>
                                                                                        <option value="College Graduate or Higher" <%= profile.educationAttainment === 'College Graduate or Higher' ? 'selected' : '' %>>College Graduate or Higher</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row mt-4">
                                                                            <div class="col-sm-12 mobile-inputs">
                                                                                <div class="form-group">
                                                                                    <label class="form-label" for="learnerOrTraineeOrStudentClassification">Learner/Trainee/Student (Clients) Classification:</label>
                                                                                    <select name="learnerOrTraineeOrStudentClassification" id="learnerOrTraineeOrStudentClassification" class="form-control border" required>
                                                                                        <option value="" selected hidden>Select Option</option>
                                                                                        <option value="Persons with Disabilities(PWDs)" <%= profile.learnerOrTraineeOrStudentClassification === 'Persons with Disabilities(PWDs)' ? 'selected' : '' %>>Persons with Disabilities(PWDs)</option>
                                                                                        <option value="Displaced Worker (Local)" <%= profile.learnerOrTraineeOrStudentClassification === 'Displaced Worker (Local)' ? 'selected' : '' %>>Displaced Worker (Local)</option>
                                                                                        <option value="OFW" <%= profile.learnerOrTraineeOrStudentClassification === 'OFW' ? 'selected' : '' %>>OFW</option>
                                                                                        <option value="OFW Dependent" <%= profile.learnerOrTraineeOrStudentClassification === 'OFW Dependent' ? 'selected' : '' %>>OFW Dependent</option>
                                                                                        <option value="OFW Repatriate" <%= profile.learnerOrTraineeOrStudentClassification === 'OFW Repatriate' ? 'selected' : '' %>>OFW Repatriate</option>
                                                                                        <option value="Victims/Survivors of Human Trafficking" <%= profile.learnerOrTraineeOrStudentClassification === 'Victims/Survivors of Human Trafficking' ? 'selected' : '' %>>Victims/Survivors of Human Trafficking</option>
                                                                                        <option value="Indigenous People & Cultural Communities" <%= profile.learnerOrTraineeOrStudentClassification === 'Indigenous People & Cultural Communities' ? 'selected' : '' %>>Indigenous People & Cultural Communities</option>
                                                                                        <option value="Rebel Returnees" <%= profile.learnerOrTraineeOrStudentClassification === 'Rebel Returnees' ? 'selected' : '' %>>Rebel Returnees</option>
                                                                                        <option value="Solo Parent" <%= profile.learnerOrTraineeOrStudentClassification === 'Solo Parent' ? 'selected' : '' %>>Solo Parent</option>
                                                                                        <option value="Others" <%= profile.learnerOrTraineeOrStudentClassification === 'Others' ? 'selected' : '' %>>Others</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12 text-center">
                                                                            <button type="submit" name="actions" value="profile" class="btn btn-primary mt-3">Update</button>
                                                                        </div>
                                                                    </form>
                                                                <% } else if (profile.userId.role === 'professor') { %>
                                                                    <form method="post" action="">
                                                                        <div class="row mt-4">
                                                                            <h4 class="sub-title col-12">Professor Profile</h4>
                                                                            <div class="col-sm-6">
                                                                                <div class="form-group">
                                                                                    <label class="form-label" for="lastname">Lastname</label>
                                                                                    <input type="text" class="form-control" name="lastname" id="lastname" value="<%= profile.lastname %>" required/>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="form-label" for="middlename">Middlename</label>
                                                                                    <input type="text" class="form-control" name="middlename" id="middlename" value="<%= profile.middlename %>" required/>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="form-label" for="firstname">Firstname</label>
                                                                                    <input type="text" class="form-control" name="firstname" id="firstname" value="<%= profile.firstname %>" required/>
                                                                                </div>
                                                                                
                                                                            </div>
                                                                            <div class="col-sm-6 mobile-inputs">
                                                                                <div class="form-group">
                                                                                    <label class="form-label" for="contact">Contact No:</label>
                                                                                    <input type="text" class="form-control" name="contact" id="contact" value="<%= profile.contact %>" required/>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="form-label" for="birthdate">Birthdate</label>
                                                                                    <input type="date" class="form-control" name="birthdate" id="birthdate" value="<%= profile.birthYear %>-<%= profile.birthMonth %>-<%= profile.birthDay %>" required/>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="form-label" for="age">Age</label>
                                                                                    <input type="text" class="form-control" name="age" id="age" value="<%= profile.age %>" required/>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12 text-center">
                                                                            <button type="submit" name="actions" value="profile" class="btn btn-primary mt-3">Update</button>
                                                                        </div>
                                                                    </form>
                                                                <% } else if (profile.userId.role === 'admin'){ %>
                                                                    <form method="post" action="">
                                                                        <div class="row mt-4">
                                                                            <h4 class="sub-title col-12">Admin Profile</h4>
                                                                            <div class="col-sm-6">
                                                                                <div class="form-group">
                                                                                    <label class="form-label" for="lastname">Lastname</label>
                                                                                    <input type="text" class="form-control" name="lastname" id="lastname" value="<%= profile.lastname %>" required/>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="form-label" for="middlename">Middlename</label>
                                                                                    <input type="text" class="form-control" name="middlename" id="middlename" value="<%= profile.middlename %>" required/>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="form-label" for="firstname">Firstname</label>
                                                                                    <input type="text" class="form-control" name="firstname" id="firstname" value="<%= profile.firstname %>" required/>
                                                                                </div>
                                                                                
                                                                            </div>
                                                                            <div class="col-sm-6 mobile-inputs">
                                                                                <div class="form-group">
                                                                                    <label class="form-label" for="contact">Contact No:</label>
                                                                                    <input type="text" class="form-control" name="contact" id="contact" value="<%= profile.contact %>" required/>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="form-label" for="birthdate">Birthdate</label>
                                                                                    <input type="date" class="form-control" name="birthdate" id="birthdate" value="<%= profile.birthYear %>-<%= profile.birthMonth %>-<%= profile.birthDay %>" required/>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="form-label" for="age">Age</label>
                                                                                    <input type="text" class="form-control" name="age" id="age" value="<%= profile.age %>" required/>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12 text-center">
                                                                            <button type="submit" name="actions" value="profile" class="btn btn-primary mt-3">Update</button>
                                                                        </div>
                                                                    </form>
                                                                <% } %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="styleSelector"></div>
                </div>
            </div>
        </div>
    </div>
    

</body>
<%- include('../partials/footer/footer_js.ejs'); %>