<%- include('../partials/header/header_css.ejs'); %>

<body>
    <%- include('../partials/spinner/spinner.ejs'); %>
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <%- include('../partials/nav/nav_student.ejs') %>

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <%- include('../partials/nav/sidebar_student.ejs') %>
                    <div class="pcoded-content">
                        <!-- Page-header start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-8">
                                        <div class="page-header-title">
                                            <h5 class="m-b-10">Sample page</h5>
                                            <p class="m-b-0">Lorem Ipsum is simply dummy text of the printing</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item">
                                                <a href="index.html"> <i class="fa fa-home"></i> </a>
                                            </li>
                                            <li class="breadcrumb-item"><a href="#!">Sample page</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Page-header end -->
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="page-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <% if(studentProfile.isEnrolling) { %>
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>Print Form</h5>
                                                        <div class="card-header-right">
                                                            <ul class="list-unstyled card-option">
                                                                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                                                <li><i class="fa fa-window-maximize full-card"></i></li>
                                                                <li><i class="fa fa-minus minimize-card"></i></li>
                                                                <li><i class="fa fa-refresh reload-card"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="card-block table-border-style">
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered">
                                                                <thead>
                                                                    <tr class="text-center" style="white-space: nowrap;">
                                                                        <th >Email</th>
                                                                        <th>Fullname</th>
                                                                        <th>Course Enrolling</th>
                                                                        <th>Action</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody class="text-center">
                                                                    <form action="/form/print" method="post">
                                                                        <tr style="white-space: nowrap;">
                                                                            <td class="align-middle text-capitalize"> <%= studentProfile.userId.email %></td>
                                                                            <td class="align-middle text-capitalize"><%= studentProfile.lastname %>, <%= studentProfile.firstname %> <%= studentProfile.middlename %></td>
                                                                            <td class="align-middle text-capitalize"> <%= studentProfile.courseId.category %></td>
                                                                            <input type="hidden" name="studentId" id="studentId" value="<%= studentProfile._id %>">
                                                                            <td class="justify-content-center d-flex">
                                                                                <div class="btn-group d-flex">
                                                                                    <button type="submit" name="actions" value="print" class="btn btn-sm btn-secondary"><i class="ti-download"></i> Print</button>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </form>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% } else{%>
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <% if(studentProfile.isEnrolled) { %>
                                                                <h5>Your class is on process.</h5>
                                                            <% } else { %>
                                                                <h5>You haven't enrolled in a course yet. Please browse our available courses.</h5>
                                                            <% } %>
                                                            <div class="card-header-right">
                                                                <ul class="list-unstyled card-option">
                                                                    <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                                                    <li><i class="fa fa-window-maximize full-card"></i></li>
                                                                    <li><i class="fa fa-minus minimize-card"></i></li>
                                                                    <li><i class="fa fa-refresh reload-card"></i></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="styleSelector"></div>
                </div>
            </div>
        </div>
    </div>
</body>
<%- include('../partials/footer/footer_js.ejs'); %>