<%- include('../partials/header/header_css.ejs'); %>

<body>
    <%- include('../partials/spinner/spinner.ejs'); %>
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <%- include('../partials/nav/nav_professor.ejs') %>
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <%- include('../partials/nav/sidebar_professor.ejs') %>
                    <div class="pcoded-content">
                        <!-- Page-header start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-12 text-center">
                                        <div class="page-header-title">
                                            <h3 class="m-b-10"><%= title %></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Page-header end -->
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="page-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <% if(professorSchedule.schedule.length > 0) { %>
                                                    <% professorSchedule.schedule.forEach(schedule => { %>
                                                            <div class="card">
                                                                <div class="card-header">
                                                                    <div class="row">
                                                                        <div class="col-12 col-lg-8 col-xl-8">
                                                                            <h5><%= schedule.subjectId.courseId.name %> - <%= schedule.subjectId.year %> - <%= schedule.subjectId.semester %> - <%= schedule.subjectId.section %></h5>
                                                                            <span>Subject: <%= schedule.subjectId.subjectCode %> - <%= schedule.subjectId.name %> <code>Time: <%= schedule.startTime ? schedule.startTime : 'N/A' %> - <%= schedule.endTime ? schedule.endTime : 'N/A'  %></code> </span>
                                                                        </div>
                                                                        <div class="col-12 col-lg-4 col-xl-4 text-right mt-2">
                                                                            <a href="/professor/class/single/<%= schedule.subjectId._id %>" class="btn btn-sm btn-secondary mb-3 text-white"><i class="ti-eye"></i>View Single</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="card-block table-border-style">
                                                                    <div class="table-responsive">
                                                                        <table class="table table-bordered">
                                                                            <thead>
                                                                                <tr class="text-center" style="white-space: nowrap;">
                                                                                    <th>Student Name</th>
                                                                                    <th>Subject Code</th>
                                                                                    <th>Descriptive Title</th>
                                                                                    <th>Units</th>
                                                                                    <th>Grades</th>
                                                                                    <th>Actions</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <!-- we need to compare if the schedule.subjectId._id === studentClasses.subjectId._id -->
                                                                                <% studentClasses.sort((a, b) => {
                                                                                    // Compare lastnames
                                                                                    const lastNameComparison = a.studentId.lastname.localeCompare(b.studentId.lastname);
                                                                                    if (lastNameComparison !== 0) {
                                                                                        return lastNameComparison;
                                                                                    }
                                                                                    // If lastnames are the same, compare firstnames
                                                                                    return a.studentId.firstname.localeCompare(b.studentId.firstname);
                                                                                }).forEach(studentClass => { %>
                                                                                    <% studentClass.subjects.forEach(subject => { %>
                                                                                        <% if (subject.subjectId._id.toString() === schedule.subjectId._id.toString()) { %> 
                                                                                            <form action="/professor/class/doGrade" method="post">
                                                                                                <tr class="text-center" style="white-space: nowrap;">    
                                                                                                    <input type="hidden" name="studentClassId" id="studentClassId" value="<%= studentClass._id %>">
                                                                                                    <input type="hidden" name="subjectId" id="subjectId" value="<%= subject._id %>">
                                                                                                    <td class="align-middle text-capitalize"><%= studentClass.studentId.lastname %>, <%= studentClass.studentId.firstname %> <%= studentClass.studentId.middlename %></td>
                                                                                                    <td class="align-middle text-capitalize"><%= subject.subjectId.subjectCode %></td>
                                                                                                    <td class="align-middle text-capitalize"><%= subject.subjectId.name %></td>
                                                                                                    <td class="align-middle text-capitalize"><%= subject.subjectId.unit %></td>
                                                                                                    <td class="align-middle">
                                                                                                        <div class="d-flex justify-content-center align-items-center">
                                                                                                            <input type="text" name="grade" id="grade" class="form-control border border-primary" style="width: 200px;" placeholder="Grades" value="<%= subject.grade %>">
                                                                                                        </div>
                                                                                                    </td>
                                                                                                    <td>
                                                                                                        <div class="d-flex justify-content-center align-items-center">
                                                                                                            <button type="submit" name="actions" value="update" class="btn btn-sm btn-primary"><i class="ti-check-box"></i> Update</button>
                                                                                                        </div>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </form> 
                                                                                        <% } %>
                                                                                    <% }) %>
                                                                                <% }) %>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                    <% }) %>
                                                <% } else { %>
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h5>No Classes Found.</h5>
                                                        </div>
                                                    </div>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="styleSelector"></div>
                </div>
            </div>
        </div>
    </div>
</body>
<%- include('../partials/footer/footer_js.ejs'); %>