<%- include('../partials/header/header_css.ejs'); %>

<body>
    <%- include('../partials/spinner/spinner.ejs'); %>
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <%- include('../partials/nav/nav_professor.ejs') %>
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <%- include('../partials/nav/sidebar_professor.ejs') %>
                    <div class="pcoded-content">
                        <!-- Page-header start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-12 text-center">
                                        <div class="page-header-title">
                                            <h3 class="m-b-10"><%= title %></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Page-header end -->
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="page-body">
                                        <div class="row">
                                            <% if(histories.length > 0) { %>
                                                <% histories.forEach(history => { %>
                                                    <div class="col-12">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <h5><%= history.professorName.lastname %>, <%= history.professorName.firstname %> <%= history.professorName.middlename %> </h5>
                                                            </div>
                                                            <div class="card-block table-border-style">
                                                                <div class="table-responsive">
                                                                    <table class="table table-bordered">
                                                                        <thead>
                                                                            <tr class="text-center" style="white-space: nowrap;">
                                                                                <th>Time</th>
                                                                                <th>Category</th>
                                                                                <th>Subject Code</th>
                                                                                <th>Descriptive Title</th>
                                                                                <th>Units</th>
                                                                                <th>Days</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <% 
                                                                            const sortedSchedule = history.schedule.sort((a, b) => {
                                                                                const [aStartHour, aStartMinute] = a.startTime.split(':').map(Number);
                                                                                const [bStartHour, bStartMinute] = b.startTime.split(':').map(Number);
                                                                                return aStartHour - bStartHour || aStartMinute - bStartMinute;
                                                                            });
                                                                            sortedSchedule.forEach(subject => { %>
                                                                                <tr class="text-center" style="white-space: nowrap;">
                                                                                    <td class="align-middle text-capitalize"><%= subject.startTime %> - <%= subject.endTime %></td>
                                                                                    <td class="align-middle text-capitalize"><%= subject.subject.category %> - <%= subject.subject.year %> - <%= subject.subject.semester %> - <%= subject.subject.section %></td>
                                                                                    <td class="align-middle text-capitalize"><%= subject.subject.subjectCode %></td>
                                                                                    <td class="align-middle text-capitalize"><%= subject.subject.name %></td>
                                                                                    <td class="align-middle text-capitalize"><%= subject.subject.unit %></td>
                                                                                    <td class="align-middle text-capitalize"><%= subject.days %></td>
                                                                                </tr>
                                                                            <% }) %>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% }); %>
                                            <% } else { %>
                                                <div class="col-12">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h5>No Schedule Found.</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="styleSelector"></div>
                </div>
            </div>
        </div>
    </div>
</body>
<%- include('../partials/footer/footer_js.ejs'); %>